@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

html, body{
    width:100%;
    overflow-x:hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    line-height: 180%;
    background-color: #F9F9F9;
    color: #261C15;
}
.rotate {
    transform: rotate(11deg)
}
.text-center{
    text-align: center;
}

.card-shadow {
    filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.25));
}
/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(88, 88, 88); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.295); /* Black w/ opacity */
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -2.84073px -2.84073px 142.037px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(23.8622px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 28.4074px;
    margin: 5vw auto; /* 15% from the top and centered */
    padding: 2vw;
    width: 77%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: rgb(206, 206, 206);
    float: right;
    font-size: 4vw;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .w3-animate-zoom {animation:animatezoom 0.5s}@keyframes animatezoom{from{transform:scale(0.4)} to{transform:scale(1)}}


.paddingless {
    padding-left: 0%;
    padding-right: 0%;
}

.margin-2 {
    margin:2vw;
}
.margin-x {
    margin-left: 1vw;
    margin-right: 1vw;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    line-height: 107%;
}
.pointer {
    left: calc(50% - 33px/2 + 595px);
    top: calc(50% - 33px/2 + 155.33px);
    margin-left:auto; 
    transform: rotate(90deg);

}

.med {
    font-weight: 500;
}

.more {
    display: none;
}

.more2 {
    display: none;
}


.hidden {
    display: none;
}
.show {
    display: block;
}
.oliver {
    font-family: 'Gaegu', cursive;
    font-weight: 900;
    font-size: clamp(15px, 2vw, 22vw)
}

.gaegu {
    font-family: 'Gaegu', cursive;
    font-weight: 300;
    font-size: clamp(15px, 2vw, 18vw)
}

.margin {
    margin-top: 5vw;
    margin-bottom: 2vw;
}
.padding-x {
    padding: 0 2vw 0 2vw;
}

.padding-y {
    padding: 2vw 0 0 0;
}

.padding-full {
    padding-top: 1vw;
    padding-right: 1vw;
    padding-left: 1vw;
}

.header {
    font-size: clamp(18px, 3vw, 24px);
    padding: 2vw 2vw 0 0;
    line-height: 180%;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

a {
    color:rgba(218, 42, 42, 0.979);

}

.primary {
    background-color:rgba(218, 42, 42, 0.979);

}
.round {
    border-radius: 100px;
}

.background{
    z-index: -100;
}

.darkmode {
    color:#F9F9F9;
    background-color: #2A1A1F;
}


button {
    padding: 0.5vw 3vw 0.5vw 3vw;
    border: none;
    border-radius: 6px;
    box-shadow: 7px 7px 16px rrgb(88, 88, 88), -7px -7px 16px rgba(214, 214, 214, 0.5);
    color: hsl(0, 0%, 97%);
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    
  }
  
  button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.3) 100%
    );
  }
  
  button:hover:after {
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 1s, 0.15s;
    transition-timing-function: ease;
  }
  
  button:active:after {
    opacity: 0;
  }

#logo {
    animation: mymove 5s infinite;
}

    @keyframes mymove {
    50% {transform: rotate(180deg);}
    }
  
.relasi {
    font-family: 'Playfair Display', serif;
}  
.ib {
    display: inline-block;
}


.cardd {
    width: 95%;
    min-height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    transition: transform 200ms;
    }

    .cardd:nth-last-child(n + 4) {
        --y: calc(-50% + -30px);
        transform: translate(-50%, var(--y)) scale(0.9);

    }
    .cardd:nth-last-child(3) {
        --y: calc(-50% + -15px);
        transform: translate(-50%, var(--y)) scale(0.95);
    }
    .cardd:nth-last-child(2) {
    --y: calc(-50%);
    transform: translate(-50%, var(--y)) scale(1);
    }
    .cardd:nth-last-child(1) {
    --y: calc(-50% + 15px);
    transform: translate(-50%, var(--y)) scale(1.05);
    }

    @keyframes swap {
        50% {
            transform: translate(-50%, calc(var(--y) - 250px)) scale(0.85) rotate(-5deg);
            animation-timing-function: ease-in;
        }
        100% {
            transform: translate(-50%, calc(var(--y) - 15px)) scale(0.85);
            z-index: -1;
        }
    }

.item-details{
    color: #131313;
    padding: 20px 10px;
    text-align: left;
}
.item {
    text-align: center;
    padding: 20px;
    margin-bottom:80px;
}

.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}
.owl-carousel {
    position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}
.owl-carousel .owl-prev {
    left: -70px;
}
.owl-carousel .owl-next {
    right: -70px;
}

.herotext {
    font-size: clamp(48px, 5vw, 64px);
}

.titletext {
    font-size: clamp(36px, 5vw, 48px);
}

.bodytext{
    font-size: clamp(11px, 5vw, 14px);
}

.bodytext2{
    font-size: clamp(12px, 5vw, 16px);
}
.centerver {
    top: 50%;
    left: 50%;
    vertical-align: middle;

}
.sorry-form{ 
    display: none;
}

[data-ripple] {
    position: relative;
    overflow: hidden;
  }
  
  .ripple-effect {
    position: absolute;
    border-radius: 9999px;
    animation: ripple-animation 1s;
  }
  
  @keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
  }
  
  .aks-accordion {
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .aks-accordion-item {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    cursor: pointer;
  }
  .aks-accordion-item-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .aks-accordion-item-icon {
    width: 25px;
    height: 25px;
    background: #252525;
    border-radius: 9999px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    text-align: center;
  }
  .aks-accordion-item-icon svg {
    width: 15px;
    fill: white;
    margin: 0 auto;
  }
  .aks-accordion-item-title {
    width: 90%;
    text-align: left;
    line-height: 1.5;
    display: flex;
    align-items: center;
  }
  .aks-accordion-item-title h4 {
    margin: 0;
  }
  .aks-accordion-item-content {
    display: none;
    width: 100%;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 0;
    padding-left: 42px;
    overflow: hidden;
    word-break: break-word;
    width: 88%;
    text-align: left;
    line-height: 1.5;
  }
  
  .aks-accordion-item.opened .aks-accordion-item-icon-open {
    display: none;
  }
  .aks-accordion-item-icon-close {
    display: none;
  }
  .aks-accordion-item.opened .aks-accordion-item-icon-close {
    display: block;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  
  @media screen and (max-width: 500px) {
    .aks-accordion {
      width: 100%;
    }
    .aks-accordion-item-content {
      padding-left: 11px;
      width: 92%;
    }
  }
  /* <992 */
@media (max-width: 992px) {
    .pc-only {
        display: none;
    }
    .mobile {
        display: block;
    }
    .kotak {
        display: grid;
    }
}
/* <1200 */
@media (max-width: 1200px) {
    .pc-only-form {
        display: none;
    }
    .sorry-form {
        display:block;
    }
}
/* >992 */
@media (min-width: 992px) { 
    .mobile {
        display: none;
    }
    .pc-only {
        display: block;
    }
}

footer {
    background: radial-gradient(182.68% 59.98% at 50% 50%, #BB231F 0%, #F0332E 100%);
}
ul {
    padding:0;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.kotak {
    width: 165px;
    height: 42px;
    display: inline;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  ::-moz-selection {
    background-color: hsl(0, 64%, 50%);
    color: #fff;
    }
    
    ::selection {
    background-color: hsl(0, 64%, 50%);
    color: #fff;
    }