@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url(https://allfont.net/allfont.css?fonts=oliver);
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

html, body{
    width:100%;
    overflow-x:hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    line-height: 180%;
    background-color: #F9F9F9;
    color: #261C15;
}
.rotate {
    transform: rotate(11deg)
}

.card-shadow {
    filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.25));
}
/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(88, 88, 88); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.295); /* Black w/ opacity */
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -2.84073px -2.84073px 142.037px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(23.8622px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 28.4074px;
    margin: 5vw auto; /* 15% from the top and centered */
    padding: 2vw;
    width: 77%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: rgb(206, 206, 206);
    float: right;
    font-size: 4vw;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .w3-animate-zoom {animation:animatezoom 0.5s}@keyframes animatezoom{from{transform:scale(0.4)} to{transform:scale(1)}}


.paddingless {
    padding-left: 0%;
    padding-right: 0%;
}

.scrollie {
    width: 1280px;
    height: 480px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.margin-2 {
    margin:2vw;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    line-height: 107%;
}
.pointer {
    left: calc(50% - 33px/2 + 595px);
    top: calc(50% - 33px/2 + 155.33px);
    margin-left:auto; 
    transform: rotate(90deg);

}


.med {
    font-weight: 500;
}


.hidden {
    display: none;
}
.show {
    display: block;
}
.oliver {
    font-family: 'Oliver', arial;
}

.gaegu {
    font-family: 'Gaegu', cursive;
    font-weight: 300;
}

.margin {
    margin-top: 5vw;
    margin-bottom: 2vw;
}
.padding-x {
    padding: 0 2vw 0 2vw;
}

.padding-y {
    padding: 2vw 0 0 0;
}

.padding-full {
    padding-top: 1vw;
    padding-right: 1vw;
    padding-left: 1vw;
}

.header {
    padding: 2vw 2vw 0 0;
    line-height: 180%;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.primary {
    background-color:rgba(218, 42, 42, 0.979);

}
.round {
    border-radius: 100px;
}

.background{
    z-index: -100;
}

.darkmode {
    color:#F9F9F9;
    background-color: #2A1A1F;
}

button {
    padding: 0.5vw 3vw 0.5vw 3vw;
    border: none;
    border-radius: 6px;
    box-shadow: 7px 7px 16px rrgb(88, 88, 88), -7px -7px 16px rgba(214, 214, 214, 0.5);
    color: hsl(0, 0%, 97%);
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    
  }
  
  button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.3) 100%
    );
  }
  
  button:hover:after {
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 1s, 0.15s;
    transition-timing-function: ease;
  }
  
  button:active:after {
    opacity: 0;
  }

#logo {
    animation: mymove 5s infinite;
}

    @keyframes mymove {
    50% {transform: rotate(180deg);}
    }
  
.relasi {
    font-family: 'Playfair Display', serif;
}  
.ib {
    display: inline-block;
}


.cardd {
    width: 95%;
    min-height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    transition: transform 200ms;
    }

    .cardd:nth-last-child(n + 4) {
        --y: calc(-50% + -30px);
        transform: translate(-50%, var(--y)) scale(0.9);

    }
    .cardd:nth-last-child(3) {
        --y: calc(-50% + -15px);
        transform: translate(-50%, var(--y)) scale(0.95);
    }
    .cardd:nth-last-child(2) {
    --y: calc(-50%);
    transform: translate(-50%, var(--y)) scale(1);
    }
    .cardd:nth-last-child(1) {
    --y: calc(-50% + 15px);
    transform: translate(-50%, var(--y)) scale(1.05);
    }

    @keyframes swap {
        50% {
            transform: translate(-50%, calc(var(--y) - 250px)) scale(0.85) rotate(-5deg);
            animation-timing-function: ease-in;
        }
        100% {
            transform: translate(-50%, calc(var(--y) - 15px)) scale(0.85);
            z-index: -1;
        }
    }

  