{% extends 'base_template.html' %}

{% load static %}
<head>
    <meta charset="UTF-8">
     <title>
        {% block title %} Contact | cardnected {% endblock %}
     </title>
</head>

{% block content%}

<div class="container" style="overflow: hidden;">
    <div class="background">
        <div class="background">
            <img loading="lazy" class="center background"src="{% static 'images/logoBG.svg' %}" style="width: 60%;position: absolute; top:422px; right:0;opacity:0.6;" >
        </div>
    </div>
    <div class="row margin">
        <div class="col-lg-6">
            <img class="center centerver img-responsive lazy" src="{% static 'images/all.png' %}" style="width: 87%;" class="padding-y center">
        </div>
        <div class="background ">
            <div class="background" style="position: absolute; top:0; left:0;">
                <img class="lazy" src="{% static 'images/smallBolb.png' %}" style="width: 99%;">
            </div>
        </div>
        <div class=col-lg-6>
            <h4 class=title><span style="color: maroon;"><u>about</u></span></h4>
            <h1 class="title titletext">The Creator</h1>
            <p class="bodytext padding-y">
                HEELLOOOO! My name is Indri Klarissa Ramadhanti, you can call me <b>Risa</b> for short. 
                Currently studying <b>Information System</b> in University of Indonesia, class of 2019. <br><br>
                I define myself as an aspiring <b>Creative Technologist</b> who loves to create and 
                dreams to build something that helps others build. Oh, and <span class=med><i>I do believe in the power of technology to make human lives better.</i></span>
                <span class="dots">... </span> 
                    <span class="more">
                        <br><br>I have plenty of experience in <b>Visual and Motion Design</b> and is highly interested in 
                        <span class=anot>Edtech, User Experience Design, Computer Animation, Augmented/Virtual Reality, and Web Development.</span> <br><br>       
                        I work alone, most of the time. But <u>would really appreciate it if anyone's interested in collaborating with me</u>, though.
                        You can hit me up on my <a class=link href="https://www.linkedin.com/in/indrikla/">LinkedIn</a>, or just like, casually talk to me on <a  class=link  href="https://t.me/indrikla">Telegram</a> :D <br>        
                    </span>

                    <b><a class="readMore gaegu">Read more</a></b>
            </p>
        </div>
    </div>

    <!-- LOG Dkk -->
    <div class="tabs">

        <div class="tab-2">
            <label for="tab2-1" style="color: maroon;padding-bottom: 1vw;">
                <i class="fa fa-comments-o" aria-hidden="true"></i>  Feedback
            </label>
            <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
            <div class="container text-center center"><br>
                <h3 class="title center" style="width:77%"> How Can We Make cardnected Work for You?</h3><br>
                <div class=center style="width:77%">
                    We're always working to make <span class="title"><b>cardnected</b></span> exactly what you need. Please help us make <span class="title"><b>cardnected</b></span> better by telling your experience with us below, thank you in advance.
                <br><br><a class="typeform-share button" href="https://form.typeform.com/to/LJzglif8?typeform-medium=embed-snippet" target="_blank" data-mode="popup" style="display:inline-block;background-color:#ad2323;color:white;cursor:pointer;text-align:center;margin:0;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_blank">
                    Start the Survey </a> 
                </div>
                
                    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </div>
        </div>

        <div class="tab-2">
            <label for="tab2-2" style="color: maroon;padding-bottom: 1vw;">
                <i class="fa fa-history" aria-hidden="true"></i>  Release history              
            </label>
            <input id="tab2-2" name="tabs-two" type="radio">
            <div>
                <div class="container text-center">
                    <h1 class="title">Log</h1>
                    {% for log in log %}
                    <div style="margin: 2vw 0 3vw 0;">
                        <b><h5>{{ log.version }} - {{ log.title }}</h5></b>
                        <h6>{{ log.date }}</h6>
                        <p>{{ log.desc }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        


    </div>


</div>
<script type="module">
    import { annotate } from 'https://unpkg.com/rough-notation?module';
    const e = document.querySelector('.anot');
    const annotation = annotate(e, { type: 'underline', color: 'rgba(218, 42, 42, 0.979)' });

    $(document).ready(function(){
        $(".anot").hover(function(){
            annotation.show();
        });
    })

    let stack = document.querySelector(".stack");
    Array.prototype.slice.call(stack.children).reverse().forEach(i => stack.append(i));

    stack.addEventListener("click", swap);

    function swap(e) {
    let cardd = document.querySelector(".cardd:last-child");
    if (e.target !== cardd) return;
    cardd.style.animation = "swap 700ms forwards";

        setTimeout(() => {
            cardd.style.animation = "";
            stack.prepend(cardd);
        }, 700);
    }

</script>

{% endblock content %}
