{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap CSS -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="//gitcdn.link/repo/wintercounter/Protip/master/protip.min.css"> -->

    <meta name="google-site-verification" content="v49_Xf0jBBIJx8y-3rCYsVccH0Z2qznhjx-LfY0j4iM" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <title>cardnected</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      {% csrf_token %}
        <a class="navbar-brand" href="{% url 'home' %}">
          <div id="logoHome" class="relasi"> <img id="logo" class="background"src="{% static 'images/logo.svg' %}">  <b>card</b>nected </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          
          <ul class="navbar-nav justify-content-center" style="margin-left: auto; margin-right:auto;">

          <li class="nav-item  padding-x" >
            <a class="nav-link" data-toggle="dropdown" href="{% url 'cardpack' %}" role="button" aria-haspopup="true" aria-expanded="false">CARD PACK  </a>
          </li>

            <li class="nav-item padding-x">
              <a class="nav-link" id="playNavBar" href="{% url 'gameplay' %}">     LET'S PLAY</a>
            </li>

            <li class="nav-item padding-x">
              <a class="nav-link" href="{% url 'creator' %}">CONTACT</a>
            </li>

          </ul>

          <ul class="navbar-nav justify-content-center" >
            <li class="nav-item">
              <button class="nav-link round padding-x" href="#" style="padding-left: 2vw; padding-right:2vw"> SIGN IN </button>
            </li>
          </ul>
        </div>
    </nav>
  </div>

{% block content %}
{% endblock %}

<!-- <footer class="py-5" style="margin-top: 10vw;">
  </div>
    <div class="container text-center"style="color:white">
		<img src="{% static 'images/logogram.svg' %}" style="vertical-align:top; margin-bottom: 3vw;">
		<p>Supported by:</p>
		<img src="{% static 'images/recloud.svg' %}" style="margin-top: 1vw;margin-bottom: 1.5vw;display:block" class="center">
		<div style=" margin-bottom: 3vw;">
			<img src="{% static 'images/alibaba.svg' %}" >
			<img src="{% static 'images/codepolitan.svg' %}" >
		</div>
		<p class="gaegu text-center" >created with 👁💧👅💧👁 by <b style="font-weight: 700;">indrikla</b></p>
		<div class="col-md-4 col-sm-6 col-xs-12 center">
			<ul class="social-icons center" style="list-style: none;">
				<li><a href="https://www.linkedin.com/in/indrikla/" class="social-icon link"> <i class="fa fa-linkedin"></i></a></li>
				<li><a href="mailto:indriklarissa@gmail.com" class="social-icon link"> <i class="fa fa-envelope"></i></a></li>
				<li><a href="https://t.me/indrikla" class="social-icon link"> <i class="fa fa-telegram"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCtVIx1pJFe5iWOSjgnCnOrg/videos" class="social-icon link"> <i class="fa fa-youtube-play"></i></a></li>
				<li><a href="https://www.instagram.com/indrikla/" class="social-icon link"> <i class="fa fa-instagram"></i></a></li>
			</ul>
    </div>
    </div>
  </footer> -->

<!---Footer--->
<div class="margin-top:10vw">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(229,48,43,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(229,48,43, 0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(229,48,43, 0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#e5302b" />
      </g>
  </svg>
</div>

<footer class="py-5">
	<div class="container text-center" style="color:white">
		<img src="{% static 'images/logogram.svg' %}" style="vertical-align:top; margin-bottom: 3vw;">
		
		<p>Supported by:</p>
		<img src="{% static 'images/recloud.svg' %}" style="margin-top: 1vw;margin-bottom: 1.5vw;display:block" class="center">
		<div style=" margin-bottom: 3vw;">
			<img src="{% static 'images/alibaba.svg' %}" >
			<img src="{% static 'images/codepolitan.svg' %}" >
		</div>
		<!-- 👁💧👅💧👁 -->
		<p class="gaegu text-center" >created with <\\\3 by <b style="font-weight: 700;"><a class=linkin style="color:white" href="{% url 'creator' %}">tokkiyguk</a></b></p>
		<div class="col-md-4 col-sm-6 col-xs-12 center">
			<ul class="social-icons center" style="list-style: none;">
				<li><a href="https://www.linkedin.com/in/indrikla/" class="social-icon link"> <i class="fa fa-linkedin"></i></a></li>
				<li><a href="mailto:indriklarissa@gmail.com" class="social-icon link"> <i class="fa fa-envelope"></i></a></li>
				<li><a href="https://t.me/indrikla" class="social-icon link"> <i class="fa fa-telegram"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCtVIx1pJFe5iWOSjgnCnOrg/videos" class="social-icon link"> <i class="fa fa-youtube-play"></i></a></li>
				<li><a href="https://www.instagram.com/indrikla/" class="social-icon link"> <i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>
</footer>

  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module" src="https://unpkg.com/rough-notation?module"></script>
<script src="https://cdnout.com/rough-notation/rough-notation.iife.min.js"></script>
<script src="  https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://use.fontawesome.com/dd1dcb8781.js"></script>
<!-- <script src="//gitcdn.link/repo/wintercounter/Protip/master/protip.min.js"></script> -->

</body>
</html>
