{% extends 'base_template.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
     <title>
        {% block title %} Card Pack | cardnected {% endblock %}
     </title>
</head>

{% block content%}

<div class="container center">

    <div class=" col-lg-12 center text-center">
        <h1 class="title center margin herotext">Card Pack</h1>
        <p style="width:88%" class="center">Protip: Every pack has a minimum of 40 cards inside! So it's possible to get different questions every time you play.</p>
        <div class="row">
            {% csrf_token %}
            {% for pack in pack %}
                <a class="linkin center" href="{{ pack.id }}"><img class="center img-responsive lazy" src="{{ pack.image }}" style="width:66%; width:300px; height:auto; margin:1vw 1vw 1vw 1vw"/></a>
            {% endfor %}
        </div>
        
    </div>

    
</div>

{% endblock content %}
