{% extends 'base_template.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>
        {% block title %} Home {% endblock %}
     </title>
     
</head>

{% block content%}

<div class="container center">

    <div class="margin">
        <div class="col-lg-12 scrolling-wrapper">
            <a class=linkin href="{% url 'cardpack' %}">
                <i class="fa fa-arrow-left sticky" aria-hidden="true"></i>
            </a>
            <div style="display: inline-block;margin-left: 5vw; margin-bottom:2vw">
                <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="/pack/1/">
                    Ice Break
                </button>
    
                <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="/pack/5/">
                    Mix & Match
                </button>
    
                <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="/pack/2">
                    Dig Deeper
                </button>
    
                <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="/pack/3">
                    Lovebirds Edition
                </button>
    
                <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="/pack/4/">
                    Stranger
                </button>
    
                <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="/pack/6/">
                    Perspective
                </button>
     
            </div>
        </div>
        <div class="col-lg-12 center margin">
            
            <div class="row" >
                
                <div class="col-lg-5 padding-full" style="display: inline;">
                    <img class="img-responsive center" src="{{ pack.image }}" style="width:300px; height:auto; margin-bottom:5vw"/>
                </div>
    
                <div class="col-lg-6 padding-full" style="display: inline;">
                    <div style="top:0;">
                        <h1 class="title">“{{ pack.name }}” <span class="gaegu">pack</span></h1>    
                        <div>
                            <p>{{ pack.description|linebreaks }}</p>    
                            <div style="margin-top: 2vw;">
                                <h3 class="title"><u>Take a <b>Sneakpeek!</b></u></h3>
                                <div>
                                    <ul class="gaegu marginMobile" style="font-size: 18px;list-style: circle;"><b>
                                        <li> "{{ pack.q1}}" </li>
                                        <li> "{{ pack.q2}}" </li>
                                        <li> "{{ pack.q3}}" </li>
                                    </b>
                                </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    
</div>

{% endblock content %}
